<% was_validated = second.errors.any? %>

<%= form_with(model: second, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for first_id start -->
  <div class="form-group">
    <% first_class = "form-control" %>
    <% first_was_invalid = second.errors.include?(:first) %>

    <% if was_validated %>
      <% if first_was_invalid %>
        <% first_class << " is-invalid" %>
      <% else %>
        <% first_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :first_id %>
    <!-- Input for first_id start -->
    <%= f.collection_select :first_id, First.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for first_id end -->
    <% if first_was_invalid %>
      <% second.errors.full_messages_for(:first).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for first_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
