<% was_validated = third.errors.any? %>

<%= form_with(model: third, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for second_id start -->
  <div class="form-group">
    <% second_class = "form-control" %>
    <% second_was_invalid = third.errors.include?(:second) %>

    <% if was_validated %>
      <% if second_was_invalid %>
        <% second_class << " is-invalid" %>
      <% else %>
        <% second_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :second_id %>
    <!-- Input for second_id start -->
    <%= f.collection_select :second_id, Second.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for second_id end -->
    <% if second_was_invalid %>
      <% third.errors.full_messages_for(:second).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for second_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
